numpy>=1.16.2
bayesian-optimization>=1.2.0
pyserial>=3.5 # for PMM hardware/experiment
minimalmodbus>=2.0.1 # for PMM hardware/experiment
RSInstrument>=1.53.1 # for PMM hardware/experiment
pyyaml>=5.1 # for PMM hardware/experiment
cma>=2.7
matplotlib>=3.0.3 # for PMM hardware/experiment
