numpy>=2.0.1
bayes_opt>=2.0.3
cma>=4.0.0
matplotlib>=3.10.0 # for PMM hardware/experiment
pandas>=2.2.3 #for curve fitting example

"""
The following requirements are specific to PMM device setups.
"""

# pyserial>=3.5 # for PMM hardware/experiment
# minimalmodbus>=2.1.1 # for PMM hardware/experiment
# RSInstrument>=1.53.1 # for PMM hardware/experiment
# pyyaml>=5.1 # for PMM hardware/experiment
# ceviche # for experiment
# time #fakepmminsitu